<div class="infobox">
    <p class="headline">UP TO </p>
    <p class="paragraph">50 % OFF</p>
    <p class="part-two">Get The Best Price</p>
    <p class="part-three">Get 50 percent off when buying 3 items!</p>
    <a link href="#">Discover More!</a>
</div>