.loginform{
   margin-top:100px;
   @include lg{
        margin-bottom: 220px;
   }

  
    
    .container{
      height:450px;
      display:block;
      text-align: center;
      @include lg{
        padding-top:40px;
        width:500px;
        justify-content: center;
        text-align: center;
        margin:auto;
        display:block;
       
        box-shadow: 0.4px 0.4px 1.4px 1.4px #ecb5b54d;
      }
      
    

        h6{
          
          margin-top:10px;
        }

        hr{
            width:100px;
            margin:auto;
            margin-bottom:10px;
            @include lg{
              
            width:100px;
            margin:0;
            margin-top:5px;
            margin-bottom:5px;
            }
        }
        .form-group{
       
          margin-bottom:20px;
     
          @include lg{
            width:500px;
            justify-content: center;
            text-align: center;
          }

         
        

         

          input{
            background-color: #ecb5b54d;
            margin-top:10px;
            margin-bottom:10px;
          }
        }
        input::radio{
            display: inline;
            @include lg{
             
            }

        }
        h6{
            display:inline;
            margin-left:10px;
            @include lg{
              
            }
        }


        .btn-theme{
            display:block;
            justify-content:center;
            margin:auto;
            margin-top:10px;
            @include lg{
             justify-content: left;
             margin-top:10px;
            }
        }

    }
}