@model ProductRegistrationViewModel


<section class="productview">
<div class="container" style="justify-content:center;">

    @foreach(var product in Model.Products)
    {
        <a asp-controller="ProductDetails" asp-action="Index" asp-route-id="@product.ArticleNumber" class="card" style="width:272px; color:black;">
        <img src="~/Images/products/@product.ProductImage" class="topimg" alt="@product.Name" style="width:270px; height:295px;">
            <div class="card-body">
                <div class="title">
                    <p class="head-text" style="font-weight:bold; font-size:22px;">@product.Name</p>
                </div>
                <div class="info">
                    <p>@product.Description</p>
                    <p class="paragraph">$@product.Price</p>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>

            </div>
        </a>
    }

</div>
</section>