@import "../../core/mixins.scss";
.productview {
    .container {
        display: grid;
        margin-top: 20px;
        grid-template-columns: repeat(1, 270px);
        grid-template-rows: repeat(8,420px);
        justify-content: center;
        gap: 45px;
        margin-bottom: 100px;
    }

    @include lg {
        .container {
            display: grid;
            gap: 15px;
            grid-template-columns: repeat(4,270px);
            grid-template-rows: repeat(4,395px);
        }
    }
}
