@{
    ViewData["Title"] = "Access was Denied";
}


<div class="d-flex justify-content-center mt-5">
<div class="container">
<h1>@ViewData["Title"]</h1>
<p>You dont have the right permissions to enter.</p>
</div>
</div>