@import '../../core/_colors.scss';


.cardgrid {
  text-align:center;
  .headline{
    text-align:center;
    margin-top:20px;
    font-weight:$font-weight-bold;
    color: $color-dark-1;
  }
  .container {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(4,220px);
    justify-content: center;
    gap: 15px;
   

    @include lg{
      grid-template-columns: repeat(4, 270px);
      grid-template-rows:repeat(2,355px);
      
    }

  

    .card {
      border:none;
      img {
        
       }

      .head-text{
        text-align:center;
        font-size:16px;
        color: $color-dark-1;
        font-family: $font-roboto;
        margin:0;
        @include lg{
        text-align:left;
        
          
        }
      }
      .paragraph{
        font-family: $font-roboto;
        text-align:center;
        font-size:12px;
        @include lg{
          text-align:left;
          margin-top:0;
          font-size:14px;
          }
        
      }

   
    }

  }
  .btn-load-more{
    margin-top:30px;
    margin-bottom:30px;
  }
}
