@import '../../core/_colors.scss';


.end-boxes {
    display: none;
 
    @include lg {
        display: grid;
        gap: 15px;

    }

    .container {
        @include lg{
        display: grid;
        justify-content: center;
        gap: 15px;
        grid-template-columns: repeat(3, 270px);
        grid-template-rows: repeat(1, 400px);
        margin-bottom:40px;
        }
    }

    .boxes {

        .productname {
            @include lg {
                font-weight: $font-weight-bold;
                color: black;
            }
        }

        .info {
            @include lg {
                font-size: 12px;
            }
        }

        .comment {
            @include lg {
                font-size: 14px;
                color: $color-dark-4;
            }
        }
    }
}