

    <section class="loginform">
        <div class="container">
            <img src="images/logo.svg" />
            <div class="form-group row">
                <h6>Please Login to your account</h6>
                <hr>
                <label>Email*<a link href="#" style="font-weight:demibold; margin-left:20px;">Dont have account yet?</a></label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="Enter your email here">
                </div>
                <label>Password*<a link href="#" style="margin-left:20px;">Forgot your password?</a></label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="Enter your password here">
                </div>
            </div>
            <input type="radio"><h6>Please keep me logged in.</h6></input>
            <button class="btn-theme">login</button>
        </div>
    </section>
   

