@model HomeIndexViewModel
@{
    ViewData["Title"] = Model.Title;
}


<!-- Showcase start-->
<section class="showcase">
    <div class="container">
        <div class="content">
            <div class="ingress">WELCOME TO BMERKETO SHOP</div>
            <div class="title">Exclusive Gold Watch Collection</div>
            <button class="btn-theme">SHOP NOW</button>
        </div>
        <img class="showcasehero" src="images/pexels.jpg" alt="" />
    </div>
</section>
<!-- Showcase end-->
<!--Cardgrid start-->
<section class="cardgrid">
    <partial name="/Views/Partials/_GridCollection.cshtml" model="@Model.BestCollection" />
</section>
<!--Cardgrid end-->
<!--Best price starts-->
<section class="bestprice">
    <div class="container">
        <div class="boxes">
            <img src="Images/Placeholders/369x310.svg" alt="">
            <p class="headline">Product name</p>
            <hr>
            <p class="paragraph">$50.00</p>
            <p class="paragraph2">$30.00</p>
        </div>
        <div class="infobox">
            <p class="headline">UP TO </p>
            <p class="paragraph">50 % OFF</p>
            <p class="part-two">Get The Best Price</p>
            <p class="part-three">Get 50 percent off when buying 3 items!</p>
            <alink href="#">Discover More!</a>
        </div>
        <div class="boxes">
            <img src="Images/Placeholders/369x310.svg" alt="">
            <p class="headline">Product name</p>
            <hr>
            <p class="paragraph">$50.00</p>
            <p class="paragraph2">$30.00</p>
        </div>

    </div>
</section>
<!--Best price ends-->
<!-- Top selling products start-->
<section class="spotlight">
    <h1>Top Selling Products This Week</h1>
    <hr>
    <div class="container">
        <div class="product-box">
            <img src="Images/Placeholders/270x295.svg" alt="">
            <h3>Product name</h3>
            <p class="old">$120</p>
            <p class="new">$80</p>
            <hr>
        </div>
        <div class="product-box">
            <img src="Images/Placeholders/270x295.svg" alt="">
            <h3>Product name</h3>
            <p class="old">$124</p>
            <p class="new">$25</p>
            <hr>
        </div>
        <div class="product-box">
            <img src="Images/Placeholders/270x295.svg" alt="">
            <h3>Product name</h3>
            <p class="old">$100</p>
            <p class="new">$40</p>
            <hr>
        </div>
        <div class="product-box">
            <img src="Images/Placeholders/270x295.svg" alt="">
            <h3>Product name</h3>
            <p class="old">$126</p>
            <p class="new">$85</p>
            <hr>
        </div>
        <div class="product-box">
            <img src="Images/Placeholders/270x295.svg" alt="">
            <h3>Product name</h3>
            <p class="old">$1120</p>
            <p class="new">$830</p>
            <hr>
        </div>
        <div class="product-box">
            <img src="Images/Placeholders/270x295.svg" alt="">
            <h3>Product name</h3>
            <p class="old">$146</p>
            <p class="new">$98</p>
            <hr>
        </div>
        <div class="buttons">
            <button class="left"><</button>
            <button class="right">></button>
        </div>
    </div>
</section>
<!-- Top selling products ends-->
<!-- Endboxes starts-->
<section class="end-boxes">
    <div class="boxes">
        <img src="Images/Placeholders/370x295.svg" alt="">
        <p class="productname">Product name</p>
        <p class="info">product info</p>
        <p class="comment">COMMENTS</p>
    </div>
    <div class="boxes">
        <img src="Images/Placeholders/370x295.svg" alt="">
        <p class="productname">Product name</p>
        <p class="info">product info</p>
        <p class="comment">COMMENTS</p>
    </div>
    <div class="boxes">
        <img src="Images/Placeholders/370x295.svg" alt="">
        <p class="productname">Product name</p>
        <p class="info">product info</p>
        <p class="comment">COMMENTS</p>
    </div>
</section>
<!-- Endboxes ends-->
<!--subscribe starts-->
<section class="subscribe">
    <div class="container">
        <div class="whitebox">
            <div class="mb-3">
                <div class="input-group mb-3">
                    <input type="email" placeholder="Write your email adress!">
                    <button class="btn-theme">Subscribe for newsletter!</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--subscribe ends-->
