@{
    ViewData["Title"] = "BackOffice";
}

<div class="backOffice">
    <div class="container">
        <div class="officeMenu">
            <img src="/Images/logo.svg" class="logo" />
            <h1>Backoffice</h1>
            <hr />
            <button class="btn-theme">Add/Delete Products</button>
            <button class="btn-theme">See/Change Users</button>
            <button class="btn-theme">See Messages</button>
        </div>
    </div>
</div>
