@{
    ViewData["Title"] = "BackOffice";
}
<div class="BackOffice">
    <h1></h1>Backoffice</h1>
    <button class="mb-3">Add/Delete Products</button>
    <button class="mb-3">See Users</button>
</div>