@model Product
<!--FIXA DETTA IMORN ^-->
<div class="container">
    <div class="parent">
        <div class="big_Img">
            <img src="~/Images/Placeholders/501x430.svg" />
        </div>
        <div class="product_information">
            <h4>
                Young Star Smart Shoe in Fashion
            </h4>
            <p>Lirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam <br/> voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita<br /> kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <hr>
            <div class="review_stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <p class="number_of_reviews">16 Reviews</p>
            </div>
            <h3>$30</h3>
            <button class="plus_Button">+</button>
            <button class="result" disabled>2</button>
            <button class="minus_Button">-</button>
            <button class="btn-theme">Add to cart</button>
            <div class="color_Picker">
            <button class="round_Color_One"></button>
            <button class="round_Color_Two"></button>
            <button class="round_Color_Three"></button>
            </div>
        </div>
        
    </div>
    <div class="small_Images">
        <img src="~/Images/Placeholders/120x113.svg" />
        <img src="~/Images/Placeholders/120x113.svg" />
        <img src="~/Images/Placeholders/120x113.svg" />
        <img src="~/Images/Placeholders/120x113.svg" />
    </div>
</div>